@import url('https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto');

html, body
{
    font-family: 'Open Sans', sans-serif;
}

/* HTML5 fallback styles for older browsers */
main, section, header, footer, nav, figure, figcaption
{
    display: block;
    box-sizing: border-box;
}
/* ---------------------------------------- */

h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

h1
{
    display: inline-block;
}

h2
{
    font-size: 1.5em;
}

a, a:hover, a:focus, a:visited, .leaflet-container a
{
    color: #046dc3;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

tr:last-child
{
  font-weight: bold;
}

footer
{
  position:fixed;
  text-align:center;
  left: 0; bottom:0;
  width:100%;
  z-index:1000;
  height:30px;
  padding: 5px 20px;
  background-color: #f5f9ff;
}


button:active {
  box-shadow: none !important;
}

.homeMenuButtonText {
  text-align: left;
  word-wrap: break-word;
  white-space: pre-line;
}

.homeMenuButtonText:hover {
  color: #333333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* for the content of the zoom control */
.leaflet-bar a
{
    color: #000;
}

.leaflet-bar a.leaflet-disabled
{
    color: #757575 !important;
}

/* map background */
#map
{
    background-color: #fff !important;
}

.fa {
    color: #212121;
}
            
.bttn-jelly.bttn-default {
    color:#f0f0f0;
}

.bttn-jelly:hover:before {
    opacity:1
}

/* increase box padding */
[class*="col-lg-"],[class*="col-md-"],
[class*="col-sm-"],[class*="col-xs-"]{
    padding-right:10px !important;
    padding-left:10px !important;
    padding-bottom:10px !important;
}
